# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# Build
dist
coverage

# Firebase service account keys
firebase-key.json

# VSCode
.vscode/
